// hacking "gridism.css" a little bit.
.j-workspace {
  // won't use "wrap wider";
  box-sizing: border-box;
  .j-wrap {
    max-width: $max-width-screen;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  .j-wrap-80 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    max-width: $max-width-screen * .8;
  }
  .j-wrap-90 {
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    display: flex;
    max-width: $max-width-screen * .9;
  }
}

body.center-full-screen{
  margin-top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .j-wrap,
  .j-wrap-90,
  .j-wrap-80{
    justify-content: center;
    align-items: center;
  }
}
